@media screen and (max-width: 830px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        line-height: 1.7rem;
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.7rem;
    }

    .smallIcons {
        width: 40px;
        height: 30px;
        object-fit: contain;
    }
    
    .largeIcons {
        width: 45px;
        height: 45px;
        object-fit: contain;
    }

    header {
        height: auto;
    }

    #logo {
        padding: 4vh 5vw;
        grid-template-columns: 50px 1fr;

        img {
            padding-bottom: 0.2vh;
        }
    }
    
    #floatingMan {
        top: 5vh;
        height: 25vh;
    }

    #title {
        margin: 5vh 0 0 5vw;
        width: 60vw;

        h1 {
            margin-bottom: 5vh;
        }    

        h4 {
            margin-bottom: 5vh;
        }

        a {
            font-size: 0.8rem;
        }
    }

    #ideaSection {
        display: block;
        margin: 10vh 5vw 10vh 5vw;

        h2 {
            margin-bottom: 3vh;
        }

        h2:nth-of-type(2) {
            width: 70vw;
        }

        p {
            margin: 0 0 10vh 0;
        }
    }

    #tableWithIcons {
        display: block;
        margin: 0 0 10vh 0;

        article:nth-of-type(odd), article:nth-of-type(even) {
            width: 100%;
            padding: 0 3vw 3vh calc(5vw + 50px);
        }

        article:nth-of-type(1)::before, article:nth-of-type(2)::before, article:nth-of-type(3)::before, article:nth-of-type(4)::before {
            left: 5vw;
        }
    }

    #readySection, .alignCenter{
        width: 70vw;

        h2 {
            margin-bottom: 3vh;
        }
    
        p {
            font-size: 1rem;
        }    
    }

    #imgTextSection {
        margin: 10vh 5vw 10vh 5vw;

        article {
            flex-direction: column;
            align-items: center;
            margin-bottom: 10vh;
            text-align: center;

            .imgTextSectionImg {
                width: 60%;
                margin-bottom: 3vh;
            }    

            div {
                display: block;
                margin: 0;

                p:first-of-type {
                    margin: 3vh 0;
                }

                img {
                    margin-bottom: 1vh;
                }
    
                h3 {
                    margin-bottom: 1vh;
                }
            }
        }

        article:nth-of-type(even) {
            flex-direction: column;
        }
    }
    footer {
        form .email {
            width: 70vw;
            height: 6vh;
            font-size: 1rem;
            margin: 4vh auto;
        }

        form .submit {
            width: 50vw;
            height: 4vh;
            font-size: 0.8rem;
            margin-bottom: 7vh;
        }

        #credits {
            font-size: 0.6rem;
            margin: 0 0 2vh 5vw;
        }

        #credits::after {
            width: 20px;
            height: 10px;
            padding: 0;
        }
    }    

    #popup {
        width: 90vw;
        left: 5vw;
        padding: 5vh 5vw;

        p {
            margin: 3vh 0 5vh 0;
        }
    
        p:first-of-type {
            margin: 0 0 3vh 0;
        }
    }
}

@media screen and (max-width: 430px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        line-height: 1.2rem;
        font-size: 1rem;
    }

    h4 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .smallIcons {
        width: 30px;
        height: 20px;
        object-fit: contain;
    }
    
    .largeIcons {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    header {
        height: auto;
    }

    #logo {
        padding: 3vh 5vw;

        h3 {
            font-size: 0.8rem;
            line-height: 0.8rem;
        }

        p {
            font-size: 0.5rem;
            line-height: 0.5rem;
        }

        img {
            top: 3.2vh;
            left: 1vw;
        }
    }
    
    #floatingMan {
        top: 0;
        height: 20vh;
    }

    #title {
        margin: 5vh 0 0 5vw;
        width: 60vw;

        h4 {
            margin-bottom: 5vh;
        }

        a {
            font-size: 0.8rem;
        }
    }

    #ideaSection {
        display: block;
        margin: 10vh 5vw 10vh 5vw;

        h2 {
            margin-bottom: 3vh;
        }

        h2:nth-of-type(2) {
            width: 70vw;
        }

        p {
            margin: 0 0 10vh 0;
        }
    }

    #tableWithIcons {
        display: block;
        margin: 0 0 10vh 0;

        article:nth-of-type(odd), article:nth-of-type(even) {
            width: 100%;
            padding: 0 3vw 3vh calc(5vw + 50px);
        }

        article:nth-of-type(1)::before, article:nth-of-type(2)::before, article:nth-of-type(3)::before, article:nth-of-type(4)::before {
            left: 5vw;
        }
    }

    #readySection, .alignCenter{
        width: 70vw;

        h2 {
            margin-bottom: 3vh;
        }
    
        p {
            font-size: 1rem;
        }    
    }

    #imgTextSection {
        margin: 10vh 5vw 10vh 5vw;

        article {
            flex-direction: column;
            align-items: center;
            margin-bottom: 10vh;
            text-align: center;

            .imgTextSectionImg {
                width: 60%;
                margin-bottom: 3vh;
            }    

            div {
                display: block;
                margin: 0;

                p:first-of-type {
                    margin: 3vh 0;
                }

                img {
                    margin-bottom: 1vh;
                }
    
                h3 {
                    margin-bottom: 1vh;
                }
            }
        }

        article:nth-of-type(even) {
            flex-direction: column;
        }
    }
    footer {
        form .email {
            width: 70vw;
            height: 6vh;
            font-size: 1rem;
            margin: 4vh auto;
        }

        form .submit {
            width: 50vw;
            height: 4vh;
            font-size: 0.8rem;
            margin-bottom: 7vh;
        }

        #credits {
            font-size: 0.6rem;
            margin: 0 0 2vh 5vw;
        }

        #credits::after {
            width: 20px;
            height: 10px;
            padding: 0;
        }
    }    

    #popup {
        h3 {
            font-size: 0.8rem;
        }

        p {
            font-size: 0.6rem;
            margin: 3vh 0 5vh 0;
        }

        a {
            font-size: 0.8rem;
        }
    
    }
}
