@font-face {
    font-family: Roboto regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto light;
    src: url(../fonts/Roboto-Light.ttf);
}

$fontFamily: 'Roboto regular';
$fontFamilyBold: 'Roboto bold';
$fontFamilyLight: 'Roboto light';
$accentColorPrimary: #f73572;
$accentColorSecondary: #3C30FF;